.Rproj.user
.Rhistory
.RData
.Ruserdata
001_working_package_01/001_stream_network/001_raw_data
001_working_package_01/001_stream_network/003_processed_data
001_working_package_01/002_geology/001_data_raw
001_working_package_01/002_geology/003_data_processed
001_working_package_01/003_corine_land_cover/001_data_raw
001_working_package_01/003_corine_land_cover/003_data_processed
001_working_package_01/004_modelling_discharge/001_data_raw
001_working_package_01/004_modelling_discharge/002_r_scripts/functions/oder_all_countries.gpkg
001_working_package_01/004_modelling_discharge/002_r_scripts/03_prediction/Spatial Cross validation.R.RData
001_working_package_01/004_modelling_discharge/003_data_processed
001_working_package_01/005_lgm/001_data_raw
001_working_package_01/005_lgm/003_data_processed
001_working_package_01/006_cum_upstream_area/003_data_processed
001_working_package_01/007_sinuosity/003_data_processed
001_working_package_01/008_lakes/003_data_processed
001_working_package_01/009_create_typology/003_data_processed

002_working_package_02/001_community_data/100_combined/002_invertebrates/003_processed_data
003_Presentations
004_Sonstiges
